
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./Assets/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: none;
    outline: none;
    background-color: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.lang-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.lang-btn img {
    width: 10px;
    margin-left: 10px;
} 

.fa-globe {
    color: #fff;
    width: 10px;
    margin-right: 10px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button {
    background-color: #db0001;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

.subdiv{
    width: 100%;
    height: 15.65rem;
    display: flex;
    justify-content: center;
}

.subpris{
    background-image: linear-gradient(to right, rgb(113, 29, 68) , rgb(38 11 38));
    width: 53.15rem;
    height: 8.65rem;
    text-align: start;
    border-radius: 1rem;margin-top: 5rem;
    transition: 0.4s;
}

.subpris:hover{
    background-image: linear-gradient(to right, rgb(154, 34, 90) , rgb(50, 16, 50));
    transform: scale(1.060);
}

.subpris h3 {
    padding-top: 2rem;
    margin-left: 3rem;
    font-size: 2rem;
}

.subpris p {
    margin-left: 3rem;
    color: rgba(255, 255, 255, 0.693);
}

.trand{
    margin-top: -11rem;
    height: 30rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.trand-info{
    width: 53.15rem;
    height: 8.65rem;
}

.trand-info select{
    padding: 8px;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none; 
  background-color: rgba(255, 255, 255, 0.086);
  background-repeat: no-repeat;
  background-position: right 8px center;
  margin-top: 1rem;
}

.trand-info option {
    background-color: white; /* Background color for options */
    color: black; /* Text color for options */
  }

.trend-dropdown{
    display: flex;
}



.movies-row{
    margin-top: 1rem;
    display: flex;
    width: auto;
    height: 10.65rem;
}

.movie-cards{
    width: 8.75rem;
    height: 100%;
margin-left: 1rem;
    text-align: center;
    position: relative;
    transition: 0.5s;
}

.movie-cards:hover{
    transform: scale(1.060);
}

#movie-poster img{
    height: 100%;
    width: 8rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
#movie-poster-srno {
    color: #000;
    font-size: 5rem;
    position: absolute;
    margin-top: -115px;
    margin-left: -10px;
}

#movie-poster-srno p {
    font-family: "Oswald", sans-serif;
    font-weight: 750;
    display: inline-block;
    color: #000;
    -webkit-text-stroke: 0.25rem rgb(255, 255, 255); 
    text-shadow: 0 0 1.5rem rgb(0, 0, 0);

}

.movie-cards-btn {
    background-color: rgba(255, 255, 255, 0.088);
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 6rem;
    border-radius: 0.4rem;
    border: none; /* Removes the border */
    margin-top: 2.2rem;
}

.movie-cards-btn:hover{
    background-color: rgba(255, 255, 255, 0.227);
}

.movie-cards-btn i {
    color: white;
}

.cards-row{
    justify-content: center;
    display: flex;
    height: 17rem;
}

.carz-row{
    width:70rem;
    height: 15rem;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}


.card-info h2{
    padding: 1rem;
}

.cards-row-info{
    width: 53.15rem;
    height: 2rem;
    position: relative;
}
.card-info {
    position: relative; /* Ensures the image is positioned relative to this div */
}

.card-info img {
    width: 4.5rem; /* Example width for images */
    position: absolute;
    bottom: 0;
    right: 0;
}


.card-info{
    width: 14.359rem;
    height: 12.5rem;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom right, #1a2043 , #1f1222);

}

.card-row{
    margin-top: 1.5rem;
    width: 53.15rem;
    height: 12.5rem;
}

.gamemem{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.gamemem h2{
    margin-left: -25rem;
     
}

.big-card-mem{
    margin-top: 1.5rem;
    height: 25rem;
    width: 52rem;
    border-radius: 2rem;
    background-image: linear-gradient(to bottom right, #1a2043 , #1f1222);
}


.big-card-mem img{
    height: 30rem;
    width: 40rem;
   
}


.big-card-mem{
position: relative;
overflow: hidden;
}


.big-card-mem img{
    position: absolute;
    bottom: -2rem;
    right: -11rem;
}
   
.colored-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, #44162a43 , #750916);
    z-index: 1;
    opacity: 0.7;
}

.big-card-memitext{
    width: 25rem;
    height: 100%;
    margin-left: 1.5rem;
    z-index: 2;
   position: absolute;
}

.big-card-mem-title h1{
  font-size: 30px;
  margin-top: 30%;
}

.big-card-mem-para{
    font-size: 13px ;
}











.faq {
    margin-top: 2rem;
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-size: 40px;
    font-weight: 500;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.accordion li label:hover{
    background-color: #4e4e4e;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background-color: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}

.faq small {
    font-size: 13px;
}

.faq .email-signup {
    max-width: 600px;
    margin: 20px auto 60px;
}

.email-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    text-decoration: underline;
}


.row{
    display: flex;}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
    text-decoration: underline;
}

.footer .col a {
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: none;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0px;
}

.footer .lang-btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright-text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}



@media only screen and (max-width: 600px) {
    .logo {
        width: 100px;
    }

    nav button {
        padding: 5px 10px;
    }

    nav .lang-btn {
        padding: 4px 8px;
    }

    .header-content {
        position: unset;
        transform: none;
        padding-top: 150px;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .email-signup button {
        font-size: 12px;
        padding: 10px 15px;
    }

    .text-col, .img-col {
        flex-basis: 100%;
    }

    .features h2 {
        font-size: 30px;
    }

    .features p {
        font-size: 15px;
    }

    .row:nth-child(2), .row:nth-child(4) {
        flex-direction: column-reverse;
    }

    .features .row {
        padding: 10px 0;
    }

    .faq h2 {
        font-size: 20px;
    }

    .accordion .content {
        font-size: 14px;
    }

    .accordion li label {
        padding: 10px;
        font-size: 14px;
    }

    label::after {
        font-size: 22px;
    }
}